# Compiled files
*.class
*.o
*.pyc

# Log files
*.log

# Editor-specific files
.vscode/
.idea/

# Dependency directories
node_modules/
vendor/

# Build output
build/
dist/

# Temporary files
*.tmp
*.bak
*.swp

# Environment-specific files
.env
.env.local
.env.*.local
.env.*.production

# OS-specific files
.DS_Store
Thumbs.db